body{
    background-color: lightblue;
    font-family: segoe ui;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}
.form-log{
    margin: auto;
    height: 350px;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 500px;

    background-color: lightslategray;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s linear;
}
.title{
    height: 60px;
    text-align: center;
    color: white;
}
input{
    height: 40px;
    width: 85%;
    background-color: rgb(255, 255, 255);
    border-style: none;
    text-align: center;
}
.but{
    background-color: rgb(226, 226, 228);
}

.form-reg{
    margin: auto;
    height: 450px;
    width: 400px;
    position: absolute;
    top: 220px;
    left: 920px;
    background-color: lightslategray;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.1;
    transition: 1s linear;
}

#some-id{
    position: absolute;
    opacity: 0;
}
label{
    position: absolute;
    top: 55px;
    left: 890px;
    height: 40px;
    width: 40px;
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    text-align: center;
    padding: 0;

}

input[type=checkbox]:checked + .form-log{
    opacity: 0.1;
    transform: translateY(120px);
    transition: 1s linear;
}

input[type=checkbox]:checked ~ .form-reg{
    opacity: 1;
    transform: translateY(-120px);
    transition: 1s linear;
}





